# EVA / UPPA proxy (use on the university VM behind cache.univ-pau.fr)
HTTP_PROXY=http://cache.univ-pau.fr:3128
HTTPS_PROXY=http://cache.univ-pau.fr:3128
NO_PROXY=127.0.0.1,localhost,10.3.0.0/16,172.17.0.0/16,172.18.0.0/16,172.19.0.0/16,*.univ-pau.fr,postgres,lrs-api,analytics-api,analytics-worker,xapi-generator,dashboard,grafana,portainer,la-net
http_proxy=http://cache.univ-pau.fr:3128
https_proxy=http://cache.univ-pau.fr:3128
no_proxy=127.0.0.1,localhost,10.3.0.0/16,172.17.0.0/16,172.18.0.0/16,172.19.0.0/16,*.univ-pau.fr,postgres,lrs-api,analytics-api,analytics-worker,xapi-generator,dashboard,grafana,portainer,la-net

POSTGRES_USER=la_user
POSTGRES_PASSWORD=la_secret_change_me
POSTGRES_DB=learning_analytics

LRS_BASIC_USER=lrs
LRS_BASIC_PASS=lrs_secret_change_me

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin_change_me
